.box {
  text-align: center;
  background-color: #eeeeee;
}
.centered {
  display: inline-block;
  margin: 0;
}
.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
}
.chess-board th {
  padding: 0.5em;
}
.chess-board td {
  border: 1px solid;
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
}
.chess-board .white {
  background: #fff;
  position: relative;
}
.chess-board .black {
  background: #000;
  position: relative;
}
.text-b {
  color: #000;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.text-w {
  color: #fff;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
